#reasonColumn{
	width: 50%;
}
#nameColumn{
	white-space: nowrap;
	width: 10%;	
}
#mountColumn{
	white-space: nowrap;
	width: 10%;
}
#chooseColumn{
	white-space: nowrap;
	width: 12%;
}
.autoFixed{
	white-space: nowrap;
	width: 10%;
}
.material_card{
	background-color: white;
	box-shadow: 0 4px 8px rgba(0,0,0,.34);
	transition: background-color 0.5s;
}
.material_card:hover{
	background-color:#EEE7E7;
}
.mailhead{
	width:100%;
	background-color: #d4263c;
	color:white;
}