.logo{
	border-style: solid;
	border-width: 2px;
	border-color: #222222;
	border-radius: 50%;
	width: 5em;
}
.navbar-brand{
	padding: 2px;
	display: block;
	position: absolute;
	top: 0px;
	left: 35px;
}
#busqueda{
	display: block;
	position: absolute;
	top: 0px;
	left: 27%;
}
.btn.btn-default.searchButton{
	color: white;
	background-color: #d4263c;
	border-color: #d4263c;
}
.btn.btn-default.searchButton:hover{
	background-color: #be2236;
	border-color: #be2236;
}
#signIn{
	display: block;
	position: absolute;
	top: 27.5%;
	right: 1%;
}
#registro{
	display: block;
	position: absolute;
	top: 27.5%;
	right: 8%;
}
#userName{
	display: block;
	position: absolute;
	top: 27.5%;
	right: 10%;
}
#closelink{
	display: block;
	position: absolute;
	top: 27.5%;
	right: 1%;
}
#categorias{
	display: block;
	position: absolute;
	top: 0px;
	left: 19%;
}
#menucategorias{
	top: 104%;
}
.letras{
	width: 10em;
}
.signInBG{
	background-image: url("transparente.png");
	position:fixed;
	display:none;
	box-shadow: 0 0 50px #FFFFFF;
	opacity: 1;
	border-radius: 5%;
	width:30%;
	height:auto;
	border-style: solid;
	border-color: #e4e4e4;
	border-width: 1px;
}
.input-group-addon{
	background-color:#919191
}
.glyphicon{
	color:white
}
#signInForm{
	width:85%;
}
a.ex1{
	color: #9d9d9d;
}
a.ex1:hover, a.ex1:active{
	color: white;
	text-decoration: none;
}
#iforget{
	display: block;
	position: fixed;
	margin-left: 6%;
	color:black;
}
#iforget:hover{
	display: block;
	position: fixed;
	color:black;
}
.signInBG register{
	width:45%;
}
#registerForm{
	display: block;
	width: 100%;
}
.popover{
	background-color:black;
	opacity: 0.8;
	color: white;
	border-color: black;
	width:400px;
	z-index: 2060;
}
.popover.right .arrow:after {
  border-right-color: black;
}
.popover.left .arrow:after {
  border-left-color: black;
}
.popover.top .arrow:after {
  border-top-color: black;
}
.popover.bottom .arrow:after {
  border-bottom-color: black;
}
.materialButton{
	position: fixed;
	border-radius: 50%;
	background-color: #d4263c;
	width:300px;
	height: 300px;
	z-index: 2000;
	box-shadow: 0 0 50px #FFFFFF;
	height: 54px;
    width: 54px;
    bottom: 80px;
    right: 80px;
    border-color: black;
    border-width:1px;
	box-shadow: 0 4px 8px rgba(0,0,0,.34);
	cursor: pointer;
}
.materialButton:hover{
	background-color: #be2236;
    box-shadow: 0 6px 12px rgba(0,0,0,.40);
}
#add{
	/*display: block;*/
	position: absolute;
	right:26%;
	top:24%;
	width:50%;
}
input.register:focus:invalid{
	background-color: #ffd4d4;
	border-width: 1px;
	border-style: solid;
	border-color: red
}
input.form-control.register:valid{
	background-color: #d4ffd4;
	border-width: 1px;
	border-style: solid;
	border-color: green
}
#header{
	box-shadow: 0px 1px 24px 5px rgba(0,0,0,0.75);
}
#back{
	position:fixed;
	height:250px;
	width:100%;
	bottom:0%;
	box-shadow: 0px 16px 89px 21px rgba(0,0,0,0.75);
	border-top-width: 1px;
	border-top-color: black;
background: linear-gradient(to bottom, rgba(146,26,42,1) 0%, rgba(190,34,54,1) 61%, rgba(190,34,54,1) 100%);
}
body {
	/*background-color: #e7e7e7;*/
	background-color: #c9c9c9;
}